@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background-dark-gray: 50, 50, 50;
  /* --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255; */
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
} */

body {
  background-color: rgb(var(--background-dark-gray));
  /* color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.chess-board {
  display: flex;
  justify-content: center;
  flex-direction: column-reverse;
  width: 480px;
  height: 480px;
}

/* .rotated {
  transform: rotate(180deg);
} */

.row {
  display: flex;
  flex-direction: row;
}

.square {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60px;
  width: 60px;
  cursor: pointer;
  border: 1px solid blue;
  background-color: white;
}

.dark {
  background-color: #779AAF
}

.light {
  background-color: #D9E4E8;
}


.piece {
  width: 50px;
}